body{
    background-color: #323149;
    
}
h1{
    color: #DEDFED;
    text-align: center;
    font-size: 46;
    font-family: Petit Formal Script;
}
p{
    text-align: left;
    padding-left: 108px;
    color: #DEDFED;
   font-size: 46;
}

